<!DOCTYPE html>
<html>

<head>
    <title>Jinja2 Template Renderer</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div class="container">
        <div class="ctf-warning">JINJA2 TEMPLATE INJECTION CHALLENGE</div>
        <p>Enter some text to see how it would look in a Jinja2 template:</p>

        <form action="/render" method="POST">
            <input type="text" name="input" placeholder="Enter your text" required>
            <button type="submit">Render</button>
        </form>


    </div>
</body>

</html>