<!DOCTYPE html>
<html>

<head>
    <title>Web Ctf Challenge</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div class="container">
        <div class="ctf-warning">WELCOME FLAG </div>
        <p>Lets bagin by simple Introduction!!</p>

        <form action="/render" method="POST">
            <input type="text" maxlength="10" name="input" placeholder="Enter Your Name" required>
            <button type="submit">Render</button>
        </form>


    </div>
</body>

</html>