<!DOCTYPE html>
<html>

<head>
    <title>Jinja2 Template Renderer</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div class="container">
        <div class="ctf-warning"> SERVER SIDE TEMPLATE INJECTION CHALLENGE</div>
        <p>Your first move is to identity the template engine!</p>

        <form action="/render" method="POST">
            <input type="text" maxlength="10" name="input" placeholder="Enter Something" required>
            <button type="submit">Render</button>
        </form>


    </div>
</body>

</html>